<div class="w-full max-w-screen-sm mx-auto">
  <h1 class="font-bold text-4xl text-center">Create New User</h1>
  <%= render "form", user: @user %>
  <span class="ml-2">Or <%= link_to 'Create an account', new_user_path, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %></span>
</div>
