<div class="bg-indigo-100 text-indigo-800 font-medium mr-2 px-2.5 p-1 rounded dark:bg-indigo-900 dark:text-indigo-300 my-1">
  <p class="review-comment"><%= review.comment %></p>
  <% if logged_in? %>
    <% if review.user_id == current_user.id %>
      <div class="links btn-group">
        <%= link_to "Edit", edit_review_path(review.book, review), class: "btn btn-custom" %>
        <%= link_to "Delete", review_path(review.book, review), class: "btn btn-custom", method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  <% end %>
</div>
